# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# === Environnements virtuels ===
venv/
.venv/
ENV/
env/

# === Fichiers de configuration secrets ===
.env
.env.*     # ex: .env.production, .env.local

# === Django ===
*.sqlite3
*.db
db.sqlite3
media/               # fichiers uploadés (sauf si gérés par Cloudinary)
staticfiles/         # si collectstatic est utilisé
local_settings.py    # si utilisé

# === Migrations compilées ===
*/migrations/*.py
!*/migrations/__init__.py

# === IDE / éditeurs ===
.vscode/
.idea/               # JetBrains/PyCharm
*.swp                # fichiers temporaires Vim

# === OS Files ===
.DS_Store
Thumbs.db

# === Node/npm ===
node_modules/
build/
dist/
package-lock.json
yarn.lock

# === Git ===
.git/
